:root {
    --brand: #4D5AE5;
    --brand-background: #2E2F42;
    --page: #FFFFFF;
    --text: #434455;
    --logo-down: #F4F4FD;
    --border: #E7E9FC;
    --button-filter-hover: #404BBF;
    --grey-backround: rgba(46, 47, 66, 0.70);
    --border-icons: #8E8F99;
    --hover-icon-footer: #31D0AA;
    --modal-back: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--page);
    letter-spacing: 0.02em;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    font-style: normal;
    text-decoration: none;
}

.page-container {
    flex-direction: column;
}

/* Base styles for small devices */
.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    outline: 2px solid red;
}

/* Tablet screen */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop screen */
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1128px;
        padding: 0 15px;
    }
}


.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Base styles */
.container-header {
    display: flex;
    justify-content: space-between;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .container-header {
        display: flex;
        align-items: center;
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .container-header {
        display: flex;
        align-items: center;
    }
}
   
/* Base styles */
.navigation {
    display: flex;
    justify-content: space-between;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
.navigation {
    display: flex;
    align-items: center;
}
}

/* Base styles */
.logo-accent {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand);
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .logo-accent,
    .logo-up {
        padding: 24px 0;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .logo-up {
        margin-right: 120px;
    }
}

/* Tablet */
@media only screen and (max-width: 767px) {
    .logo-accent,
    .logo-up {
        padding: 24px 0 22px;
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
.logo-accent,
.logo-up {
margin-right: 76px;
}
}

.logo-up {
    color: var(--brand-background);
    font-family: 'Raleway', sans-serif;
}

/* Base styles */
@media only screen and (max-width: 767px) {
    .menu-list {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .menu-list {
        display: flex;
        gap: 40px;
    }
}

.burger-menu {
        stroke: var(--brand-background);
        display: inline-block;
}


/* Base styles */
.menu-toggle {
    border: none;
    background-color: transparent;
    
}

/* Tablet and Desktop */
@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.link {
    text-decoration: none;
}

.menu-link:focus, .menu-link:active, .menu-link:hover {
    color: var(--button-filter-hover);
}

.menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-background);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile */
@media only screen and (max-width: 767px) {
.menu-link-mobile {
    font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        color: var(--brand-background);
}
.menu-link-mobile:hover,
.menu-link-mobile:focus {
    color: var(--button-filter-hover);
}
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--button-filter-hover);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.active {
    color: var(--button-filter-hover);
}

/* Base styles */
@media only screen and (max-width: 767px) {
    .active {
        display: none;
    }
}

.menu-list > a {
    font-weight: 500;
    color: var(--brand-background);
}


/* Desktop */
@media only screen and (min-width: 1158px) {
.address {
    display: flex;
    gap: 40px;
}
}

/* Mobile */
.address-mobile {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-bottom: 48px;
}

/* Base styles */
@media only screen and (max-width: 767px) {
    .address-list {
        display: none;
    }
}

/* Mobile */
.mail-mobile {
    color: var(--text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

/* Mobile */
.tel-mobile {
    color: var(--brand);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    
}

/* Tablet */
 @media only screen and (min-width: 768px) {
.address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-style: normal;
    margin-left: auto;
}
}


/* Desktop */
@media only screen and (min-width: 1158px) {
    .address-list {
        margin-left: auto;
    }
}

/* Base */
/* .address-list-mobile {
    display: flex;
    flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 12px;
        font-style: normal;
       
} */

.address-list > a {
    color: var(--text);
}

/* Tablet */
@media only screen and (min-width: 768px) {
.address-link {
    letter-spacing: 0.02em;
    color: var(--text);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
}

.address-link:hover,
.address-link:focus {
    color: var(--button-filter-hover);
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .mail-item {
        margin-bottom: 12px;
    }
}

.hero {
    max-width: 1440px;
    background-image: linear-gradient(var(--grey-backround),var(--grey-backround)), url(../images/hero/mob_bg@1x.jpg);
    background-repeat: no-repeat;
    background-color: var(--brand-background);
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
}

/* Retina screen */
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(var(--grey-backround), var(--grey-backround)),
            url(../images/hero/mob_bg@2x.jpg);
    }
}

/* Mobile */
@media only screen and (min-width: 429px) {
    .hero {
        background-image: linear-gradient(var(--grey-backround), var(--grey-backround)),
                url(../images/hero/tabl_bg@1x.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(var(--grey-backround), var(--grey-backround)),
                    url(../images/hero/tabl_bg@2x.jpg);
            }
        }
}

/* Tablet */
@media only screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(var(--grey-backround), var(--grey-backround)),
                url(../images/hero/desk_bg@1x.jpg);
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(var(--grey-backround), var(--grey-backround)),
                    url(../images/hero/desk_bg@2x.jpg);
            }
        }
}

.container-hero {    
    align-items: center;
}

.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--page);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
}

.order-button {
    font-family: inherit;
    background-color: var(--brand);
    color: var(--page);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px; 
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
    background-color: var(--button-filter-hover);
}
    

.order-button:focus {
    background-color: var(--button-filter-hover);
}  


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Base styles */
.list-advantages {
    gap: 72px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .list-advantages {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}
 
/* Desktop */
@media only screen and (min-width: 1158px) {
    .list-advantages {
        display: flex;
        flex-wrap: wrap;
    }
}


/* Base styles */
.advantages {
   padding: 96px 0;
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .advantages {
        padding: 120px 0;
    }
}

/* Mobile*/
@media only screen and (max-width: 767px) {
    .item-advantages:not(:last-child),
    .item-advantages {
        margin-bottom: 72px;
        max-width: 396px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .item-advantages {
        width: calc((100% - 24px) / 2);
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .item-advantages {
        width: calc((100% - 72px) / 4);
    }
}

.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-background);
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.advantages-paragraf {
    letter-spacing: 0.02em;
    color: var(--text);
}

/* Base styles */
.box-advantages {
    border-radius: 4px;
    background-color: var(--logo-down);
    max-width: 264px;
    max-height: 112px;
    padding: 24px 100px;
    display: none;
    align-items: center;
    margin-bottom: 8px;
    justify-content: center;
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .box-advantages {
        display: flex;
    }
}

/* Mobile&Tablet */
@media only screen and (max-width: 1157px) {
    .we-doing {
        display: none;
    }
}

.we-doing {
    padding-bottom: 120px;
}

.list-we-doing {
    display: flex;
    gap: 24px;
}

.item-we-doing {
    width: calc((100% - 48px) / 3);
}

.title-we-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-background);
    min-width: 323px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.team {
    background-color: var(--logo-down);
}

/* Mobile & Tablet */
@media only screen and (max-width: 767px) {
    .team {
        padding: 96px 0;
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .container-team {
        max-width: 584px;
    }
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-background);
    min-width: 162px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .list-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 72px
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .list-team {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}

/* Base styles */
.item-team {
    background: var(--page);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .item-team {
        width: calc((100% - 24px) / 2);
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .item-team {
        width: calc((100% - 72px) / 4);
    }
}

.third-title.card  {
    text-align: center;
}

.team-paragraf {
    text-align: center;
    margin-bottom: 8px;
}

.card-team {
    padding: 32px 0;
}

.socialmedia-list-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
    
.socialmedia-item-team {
    width: calc((100% - 72px) / 4);
}

.social-link-team:hover,
.social-link-team:active,
.social-link-team:focus {
background-color: var(--button-filter-hover);
}

.social {
    fill: var(--logo-down);
}

.social-link-team {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: var(--brand);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile & Tablet*/
@media only screen and (min-width: 428px) {
    .customers {
        padding: 96px 0;
        
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .customers {      
        padding: 120px 0;
        margin: 0 auto;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
.container-customers {
    max-width: 584px;
}
}

.title-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-background);
    min-width: 183px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;
}

/* Mobile */
@media only screen and (min-width: 428px) {
    .list-customers {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 16px;
        
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .list-customers {
        gap: 72px 24px;
        }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
.list-customers {
    justify-content: center;
    gap: 24px;
    align-items: center;
}
}

.item-customers {
    background: var(--page);
    
}

/* Mobile */
@media only screen and (min-width: 428px) {
    .item-customers {
        width: calc((100% - 16px) / 2);
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .item-customers {
        width: calc((100% - 48px) / 3);
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
    .item-customers {
        width: calc((100% - 120px) / 6);
    }
}

.link-customers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--border-icons);
    color: var(--border-icons);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .link-customers {
        width: 190px;
    }
}

.icon-customers {
    fill: currentColor;
}

.link-customers:hover, 
.link-customers:focus {
    border: 1px solid var(--button-filter-hover);
    color: var(--button-filter-hover);
}

.footer-section {
    background-color: var(--brand-background);
    
}

/* Mobile */
@media only screen and (min-width: 428px) {
    .footer-section {
        /* display: flex;
        flex-direction: column; */
        padding-top: 97.5px;
        padding-bottom: 96px;
    }
}

/* Tablet */

/* Desktop */
@media only screen and (min-width: 1158px) {
    .footer-section {
        padding: 100px 0;
}
}

/* Mobile */
@media only screen and (min-width: 428px) {
    .container-footer {
        text-align: center;
    }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
.container-footer {
    display: flex;
    align-items: baseline;
}
}

.footer-paragraf {
color:var(--logo-down);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}

.logo-down {
    display: inline-block;
    color: var(--logo-down);
}

.logo-accent-down {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand);
    padding: 0;
    margin-right: 0px;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-down .link {
    padding: 0;
    margin-bottom: 16px;
}

.left-side {
    margin-right: 120px;
    align-items: center;
}

/* Base styles */
.socialmedia-list {
    display: flex;
    gap: 16px;
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 427px) {
    .socialmedia-list.social-mobile {
        display: flex;
        gap: 34px;
    }
}

/* Media */
@media only screen and (min-width: 428px) {
.socialmedia-list.social-mobile {
    display: flex;
    gap: 56px;
    }
}

.right-side {
    margin-right: 80px;
}

.paragraf-social {
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--page);
    margin-bottom: 16px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: var(--brand);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social {
    fill: var(--logo-down);
    stroke: var(--logo-down);
}

.social-link-footer:hover,
.social-link-footer:active,
.social-link-footer:focus {
    background-color: var(--hover-icon-footer);
}

.social-link-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.socialmedia-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
    border-bottom: 1px solid var(--border);
}

.hidden {
    margin-bottom: 0;
}

.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.buttons-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.button-filter {
    font-weight: 500;
    letter-spacing: 0.04em;
    background-color: var(--logo-down);
    border: 1px solid var(--border);
    color: var(--brand);
    cursor: pointer;
    line-height: 1.5;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.button-filter:hover {
    background-color: var(--button-filter-hover);
    color: var(--page);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.button-filter:focus {
    background-color: var(--button-filter-hover);
    color: var(--page);
    border: 1px solid transparent;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    
}

.button-filter:active {
    background-color: var(--brand-background);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.img-item {
    width: calc((100% - 48px) / 3);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

.link-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:focus,
.link-portfolio:hover,
.link-portfolio:active {
    color: var(--button-filter-hover);
    
}

.card-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--border);
    border-top: none;
}

.advantages-paragraf .team-paragraf {
    text-align: left;
}

.third-title.portfolio-second {
    text-align: left;
}

.modal-icon {
    stroke: var(--brand-background);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -70%) scale(1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: var(--modal-back);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.modal-btn {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);;
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:active,
.modal-btn:focus {
    border: none;
    fill: var(--page);
    background-color: var(--button-filter-hover);
    
}

 .overlay {
    position: relative;
    overflow: hidden;
}

.link-portfolio {
    display: block;
}

.link-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-portfolio:hover .overlay-paragraf,
.link-portfolio:focus .overlay-paragraf {
    transform: translateY(0%);
}

.overlay-paragraf {
    display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-shrink: 0;
        color: var(--logo-down);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        background-color: var(--brand);
        align-items: center;
        text-align: center;
        padding: 40px 32px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
display: flex;
text-align: center;
justify-content: center;
font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--brand-background);
text-align: center;
margin: 0 auto;
margin-bottom: 16px;
}

.form-label {
    position: relative;
    display: block;
    line-height: 1.17;
    margin-bottom: 4px;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: var(--border-icons);
}

.label-container {
    margin-bottom: 8px;
}

.label-container-comments {
    margin-bottom: 16px;
}

.form-label {
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

/* .span-form-label { 
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--border-icons);
}*/

.span-pravicy-label {
color: #8E8F99;
font-size: 12px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.48px;
}

.submit-zone {
    align-items: center;
    margin-bottom: 24px;
    justify-content: baseline;
}

.form-input {    
    width: 100%;
    height: 40px;    
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 11px 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    font-size: 18px;
    color: var(--brand-background);
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--brand);
}

.modal-form-icon {
    fill: var(--brand-background);
    position: absolute;
    bottom: 9px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

 .form-input:focus + .modal-form-icon {
    fill: var(--brand);
}

.form-input.comments {
font-size: 12px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.48px;
padding: 8px 16px;
width: 100%;
height: 120px;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
resize: none;
}

.form-input.comments:focus {
    border-color: var(--brand);
}

.span-form-label .comments {
letter-spacing: 0.48px;
}

.form-input::placeholder {
    opacity: 0;
    transition: opacity 250ms ease 300ms;
}

.form-input:focus::placeholder {
    opacity: 1;
    border-color: var(--brand);
}

.check-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    padding: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-input:checked + .privacy-label .check-span {
    background-color: var(--button-filter-hover);
    border: none;
    fill: var(--logo-down);
}

.privacy-label {
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--border-icons);
}

.privacy-policy-link {
    color: var(--brand);
    text-decoration: underline;

}

.subscribe-container {
    margin-right: auto;
}

.subscribe-form {
    display: flex;
    gap: 24px;

}

.subscribe {
    margin-bottom: 16px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--page);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    font-size: 18px;
    color: var(--page);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-input::placeholder {
    color: var(--page);
}

.subscribe-input:focus {
    border-color: var(--brand);
}

.subscribe-input::placeholder {
    opacity: 0;
    transition: opacity 250ms ease 300ms;
}

.subscribe-input:focus::placeholder {
    color: var(--page);
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 1;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.sbscrb-icon {
    fill: var(--page);
    right: 24px;
    bottom: 8px; 
    margin-left: 16px;  
}

/* Mobile menu */
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.close-mobile-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-container {  
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--page);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding: 80px 35px 40px 40px;
}


.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--brand-background);
}

.mobile-menu {

    padding: 0;
    list-style: none;
    margin-bottom: auto;
}

.menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}

/* .mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--brand-background);
    text-decoration: none;
} */

/* Mobile */
.menu-link-mobile.touch {
    color: var(--brand);
}